html
  head
    title= title
  body
    h1= message
//-    ul
//- 	    each val in products
//- 	      li= val
//- Не всё так однозначно с этим примером!!
//- Всё что закоментировано мной, вызывает ошибку при запуске кода.
//- Всё что написано выше этого запускается нормально.
//- Чтобы не стоять на месте двигаюсь дальше.